body {
    padding: 10px;
}

a:link, a:visited {
    text-decoration: none;
    color: rgba(7, 7, 7, 0.709);
}

.img_container {
    width: 700px;
    height: 500px;
}

.img_container > img {
    width: 100%;
    height: auto;
}

.messages {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.bid_title {
    width: 80px;
    display: inline-block;
}

/* Images in bootstrap's cards */
.card-img-top {
    width: 100%;
    height: 25vw;
    object-fit: cover;
}

.card-title {
    text-transform: uppercase;
}