{% extends "auctions/layout.html" %}

{% block body %}
<h2 class="mb-5">Listing: {{ listing.title }}</h2>

<div class="d-flex">
    <div class="img_container">
        <img src="{{listing.image.url}}" class="card-img-top" alt="{{listing.image}}">
    </div>
    <div class="listing_info">
        <form action="{% url 'add_to_watchlist' listing.id %}" method="post">
            {% csrf_token %}
            {% if listing not in user_watchlist.listings.all %}
            <button type="submit" class="btn btn-primary mb-3 border-primary"><span class="bi bi-heart"> Add to Watchlist</span></button>
            {% else %}
            <button type="submit" class="btn btn-danger mb-3 border-danger"><span class="bi bi-heart-fill"> Remove from Watchlist</span></button>
            {% endif %}
        </form>
        <p class="card-text">{{ listing.description }}</p>
        <small class="text-muted">$ {{ listing.starting_bid }}</small>
        <h4 class="mt-3">Details</h4>
        <ul>
            <li>Listed by: {{ listing.user }}</li>
            <li>Category: {{ listing.category }}</li>
        </ul>
    </div>
</div>
{% endblock %}