{% extends "auctions/layout.html" %}

{% block body %}
<h2 class="mb-5">Listing: {{ listing.title }}</h2>

<div class="d-flex">
    <!-- Listing image -->
    <div class="img_container">
        <img src="{{listing.image.url}}" class="card-img-top" alt="{{listing.image}}">
    </div>
    <div class="listing_info">
        <!-- Watchlist button -->
        {% if user_watchlist is None or listing not in user_watchlist.listings.all %}
        <form action="{% url 'toggle_watchlist' listing.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary mb-3 border-primary"><span class="bi bi-heart"> Add to
                    Watchlist</span></button>
        </form>
        {% else %}
        <form action="{% url 'toggle_watchlist' listing.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger mb-3 border-danger"><span class="bi bi-heart-fill"> Remove from
                    Watchlist</span></button>
        </form>
        {% endif %}
        <!-- Listing description -->
        <p class="card-text">{{ listing.description }}</p>
        <!-- Listing bid prices-->
        <small class="text-muted"><span class="bid_title">Starting bid:</span> $ {{ listing.starting_bid }}</small><br>
        {% if not listing.current_bid %}
        <small class="text-muted">No one have placed bids for this item yet.</small>
        {% else %}
        <small class="text-muted"><span class="bid_title">Current bid:</span> $ {{ listing.current_bid.bid }}</small>
        {% endif %}
        {% if listing.user != request.user %}
        <!-- Place bid for listing -->
        <form action="{% url 'place_bid' listing.id%}" method="post">
            {% csrf_token %}
            <input id="bid" type="text" name="bid" class="form-control my-3" placeholder="Bid">
            <button type="submit" class="btn btn-primary border-primary">Place bid</button>
        </form>
        {% else %}
        <!-- Close bid -->
        <form action="{% url 'close_bid' listing.id%}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary border-primary mt-3">Close bid</button>
        </form>
        {% endif %}
        <!-- Listing details -->
        <h4 class="mt-5">Details</h4>
        <ul>
            <li>Listed by: {{ listing.user }}</li>
            <li>Category: {{ listing.category }}</li>
        </ul>
    </div>
</div>
{% endblock %}