{% extends "auctions/layout.html" %}

{% block body %}
<h2 class="mb-5">Listing: {{ listing.title }}</h2>

{% if request.user == listing.current_bid.bidder and listing.active == False %}
<div class="alert alert-success" role="alert">
    You have won this auction!
</div>
{% endif %}

<div class="d-flex">
    <!-- Listing image -->
    <div class="text-center">
        <img src="{{listing.image.url}}" style="max-height: 500px; max-width: 500px;" alt="{{listing.image}}">
        <div class="d-flex flex-column text-muted mt-3">
            <small>Listed by: {{ listing.user }}</small>
            <small>Category: {{ listing.category }}</small>
        </div>
    </div>

    <!-- Listing information -->
    <div class="listing_info ms-5">
        <!-- Watchlist button -->
        {% if user_watchlist is None or listing not in user_watchlist.listings.all %}
        <form action="{% url 'toggle_watchlist' listing.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary mb-3 border-primary"><span class="bi bi-heart"> Add to
                    Watchlist</span></button>
        </form>
        {% else %}
        <form action="{% url 'toggle_watchlist' listing.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger mb-3 border-danger"><span class="bi bi-heart-fill"> Remove from
                    Watchlist</span></button>
        </form>
        {% endif %}
        <!-- Listing description -->
        <p>{{ listing.description }}</p>
        <!-- Listing bid prices-->
        <small class="text-muted"><span class="bid_title">Starting bid:</span> $ {{ listing.starting_bid }}</small><br>
        {% if not listing.current_bid %}
        <small class="text-muted">No one have placed bids for this item yet.</small>
        {% else %}
        <small class="text-muted"><span class="bid_title">Current bid:</span> $ {{ listing.current_bid.bid }}</small>
        {% endif %}
        {% if listing.user != request.user and listing.active %}
        <!-- Place bid for listing -->
        <form action="{% url 'place_bid' listing.id%}" method="post">
            {% csrf_token %}
            <input id="bid" type="text" name="bid" class="form-control my-3" placeholder="Bid">
            <button type="submit" class="btn btn-primary border-primary">Place bid</button>
        </form>
        {% elif listing.user == request.user and listing.active %}
        <!-- Close bid -->
        <form action="{% url 'toggle_bid' listing.id%}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-secondary border-sebtn-secondary mt-3">Close bid</button>
        </form>
        {% else %}
        <!-- Reopen bid -->
        <form action="{% url 'toggle_bid' listing.id%}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary border-primary mt-3">Reopen bid</button>
        </form>
        {% endif %}
        <!-- Add comment -->
        <h4 class="mt-5">Comments</h4>
        <form action="{% url 'add_comment' listing.id%}" method="post">
            {% csrf_token %}
            <input id="comment" type="text" name="comment" class="form-control my-3" placeholder="Add your comment...">
            <button type="submit" class="btn btn-secondary border-secondary">Add</button>
        </form>
        <!-- Show comments -->
        {% if not listing.comments.all %}
        <p>There is no comment yet.</p>
        {% else %}
            {% for comment in listing.comments.all %}
                <p class="my-2"><span class="text-primary">{{comment.commenter}}</span>: <span class="text-secondary">{{ comment.comment }}</span></p>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}